*{
  margin: 0;
}
canvas {
  height:  100%;
  width: 100%;
  position: absolute;
}

.main_img {
  z-index:-1;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 24s 0s infinite;
  animation: anime 24s 0s infinite; 
}

  .main_img:nth-of-type(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s; }

  .main_img:nth-of-type(3) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s; }

  .main_img:nth-of-type(4) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; }

  .main_img:nth-of-type(5) {
    -webkit-animation-delay: 16s;
    animation-delay: 16s; }

  .main_img:nth-of-type(6) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s; }



    @keyframes anime {
      0% {
            opacity: 0;
        }
        8% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
            transform: scale(1) ;
             z-index:-1;
        }
        100% { opacity: 0 }
    }



/* =================== */

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.overlay #close {
  position: relative;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.sp-menu #open {
  font-size: 30px;
  /* line-height: 64px; */
  cursor: pointer;
  top: 16px;
  left: 16px;
  color: wheat;
}

.sp-menu #open.hide {
  display: none;
}



.sp-menu {
  margin-left: auto;
}




/* 背景 */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  /* text-align: center; */
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
  border-bottom: 1px  solid gray; /* 下端に「灰色1pxの破線」を引く */
  width: 200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; 
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .3s;
}

/* =================== */

#btn{
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  letter-spacing: 20px;
  width: 0px;
  height: 60px;
  cursor: pointer;
  border:2px solid wheat;
  background: white;
}

a{
  text-decoration: none;
  color: black;
}






@media screen and (min-width:0px) and ( max-width:712px)  {

  #ppp{
    top: 20%;
    position: absolute;
    /* margin-right: auto;
    margin-left: auto; */
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0;
  }

  #qqq{
    top: 50%;
    z-index: 1;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  #minilogo img{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  #miniumi{
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }

  .box {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  
    position: relative;
      z-index: 0;
      overflow: hidden;
      height: 100vh;
      /* opacity: 0;
      transition-duration: 1.5s;
      transition-property: opacity ; */
  }
  
  .logo{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 100px;
      z-index: 0;
  }
  
  .logo2{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 150px;
  }
  
  .logo3{
      position: fixed;
      top:20px;
      left: 30px;
      width: 75px;
      display: none;
  }
  
  .logo-umi{
      position: fixed;
      top:0px;
      right: 20px;
      width: 69px;
      background: wheat;
      z-index: 10;
  }
  
  .logo5{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 500px;
    z-index: 0;
    opacity: 0;
  }


    /* ============================= */

  .aisatsu{
    /* letter-spacing: 1px; */
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    padding-top: 100px;
    line-height: 10px;
    flex-direction:column;
    position: absolute;
    /* height: 100vh; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 90%;
    /* background: pink; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    
  }
  
  .aisatsu1{
    font-size: 6vw;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 20px;
    letter-spacing: 4vh;
    line-height: 8vw;
    writing-mode: vertical-rl;
    /* background: red; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .aisatsu2{
    writing-mode: vertical-rl;
    font-size:3vw;
    font-weight: 900;
    line-height: 5vw;
    letter-spacing: 1.5vw;
    /* left: 50%; */
    width: auto;
    margin: auto;
    color: black;
    /* background: blue; */
    margin-left: auto;
    margin-right: auto;
  }

  /* ============================= */

  .charge{
    position: relative;
    font-size: 5px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    text-align: center;
    line-height: 13px;
    padding-top: 10px;
    font-weight: 600;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin-bottom: 0;
    top: 5vh;
    /* background: yellow; */
  }


  .charge #t{
    font-size: 4vw;    
    padding-bottom: 15px;
  }

  .charge p{
    font-size: 2.5vw;    
    padding-bottom: 1vw;
    line-height: 20px;
  }


 /* ============================= */

 .sp-menu2{
   margin-bottom: 150px;
   margin-top: auto;
 }


 .sp-menu2 #open2{
  position: relative;
  font-size: 13px;
  font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  text-align: center;
  top: 13vh;
  width: 300px;
  height: 50px;
  cursor: pointer;
  border:2px solid wheat;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

 /* ============================= */



  .menu3 {
    writing-mode: vertical-rl;
    flex-flow: row-reverse;
  }

  .menu3 p{
    writing-mode: vertical-rl;
  }

    /* ============================= */



  


  .cosemenu{
    font-size:2.5vw;
    font-weight: 900;
    writing-mode: vertical-rl;
    left: 50%;
    margin: auto;
    color: black;
    line-height: 7vw;
    letter-spacing: 1vw;
  }

  .cose1{
    font-size:1vw;
    /* left: 50%;
    right: 50%; */
    margin: auto;
    color: black;
    line-height: 5vw;
    letter-spacing: 1vw;
    width: 80vw;
    position: relative;
    text-align: center;
    top: 100px;
  }

  .cosesetsumei{
    font-size: 3vw;
    font-weight: 900;
    writing-mode: vertical-rl;
    left: 50%;
    margin: auto;
    color: black;
    line-height: 5vw;
    letter-spacing: 1vw;
  }

  .cosesetsumei1{
    font-size: 2vw;
    font-weight: 900;
    writing-mode: vertical-rl;
    left: 50%;
    margin: auto;
    color: black;
    line-height: 7vw;
    letter-spacing: 1vw;
  }

    
  .aisatsufont{
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  
  
  .a {
    /* padding-left: 20px; */
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  
  .tate{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  
  .title{
    font-size: 50px;
    padding-left: 50px;
    letter-spacing: 30px;
  }
  


#btn{
  position: relative;
  font-size: 13px;
  font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  text-align: center;
  top: 8vh;
  width: 300px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 20px;
  border:2px solid wheat;
  background: white;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 200px;
}




  
  
  #ryokin{
    position: relative;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
    
  }
  
  .mame{
    font-size: 40px;
  }

  footer{
    height: 40vw;
  }

}

@media screen and (min-width:712px)  {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  #ppp{
    display: flex;
    right: auto;
    left: auto;
    left: 50%;
    top: 30%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 100%;
  }

  #qqq{
    top: 50%;
    padding-right: 50px;
    z-index: 1;
  }

  #minilogo img{
    text-align: center;
    width: 150px;
    z-index: 1;
  }

  #miniumi{
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
  }


  .open2 {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  
    position: relative;
      z-index: 0;
      overflow: hidden;
      height: 100vh;
      /* opacity: 0;
      transition-duration: 1.5s;
      transition-property: opacity ; */
  }
  
  .logo{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 150px;
  }
  
  .logo2{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 200px;
  }
  
  .logo3{
      position: fixed;
      bottom:30px;
      left: 50px;
      width: 100px;
      display: none;
  }
  
  .logo-umi{
      position: fixed;
      top:0px;
      right: 20px;
      width: 100px;
      background: wheat;
  }
  
  .logo5{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 500px;
    z-index: 0;
    opacity: 0;
  }
  
  
  .aisatsu{
    display: flex;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    padding-top: 150px;
    line-height: 40px;
    /* height: 100vh; */
    flex-direction: row-reverse;
    position: absolute;
    right: 50%;
    left: 50%;
  }

  .aisatsufont{
    padding-left: 20px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  
  .a {
    padding-left: 20px;
    height: 400px;
  }
  
  
  .tate{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .title{
    font-size: 50px;
    padding-left: 50px;
    letter-spacing: 30px;
  }

  .aisatsu1{
    font-size: 50px;
    padding-left: 30px;
    letter-spacing: 30px;
    writing-mode: vertical-rl;
    padding-right: 30px;
    /* letter-spacing: 4vh; */
    line-height: 60px;
  }


    .tate{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .aisatsu2{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    font-weight: 700;
  }
  
  .cosemenu{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    font-weight: 700;
  }

  .cosesetsumei{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    font-weight: 700;
  }

  .cosesetsumei1{
    writing-mode: vertical-rl;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    font-weight: 700;
    text-align: start;
  }

  .charge{
    position: absolute;
    font-size: 10px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    top: 105%;
    font-weight: 600;
    left: 50%;
    width: 90vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  #btn{
    position: absolute;
    font-size: 16px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    text-align: center;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    letter-spacing: 20px;
    width: 300px;
    height: 60px;
    cursor: pointer;
    border:2px solid wheat;
    background: white;
  }

  .charge #t{
    font-size: 20px;    
    padding-bottom: 10px;
  }
  
 
  
  #ryokin{
    position: relative;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 Pr6 W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
  }
  
  .mame{
    font-size: 40px;
  }

}



.b{
  font-size:2vw;
  font-weight: 900;
  padding-left: 30px;
  writing-mode: vertical-rl;
  left: 50%;
  margin: auto;
  color: black;
  line-height: 3vw;
  letter-spacing: 1vw;
}


